*private*
*test*
*~

*.blast
*.csv
*.fa
*.fas
*.fasta
*.fasta
*.fna
*.odt
*.proportions
*.qual
*.swp
*.too_many_sequences
*identified*
*midnames.txt
*summaries*
*summary*
*thresholds*
TODO
allele_database*
data_*
genotypes*
